
<h3>Hello <%= @user.name %></h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<div class="row">
  <div class="col-md-8">
    <ul class = "list-group" >
      <h3 class="text-center">My To Do's</h3>
      </ul>
    </div>
  </div>
</div>

</body>