<h1>User</h1>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %> </p>

<div class="row">
  <div class="col-md-8">
    <ul class="list-group">
      <h2 class ="text-center">My Lists</h2>
    </ul>
  </div>
</div>
      

