
<h3>Hello <%= @user.name %></h3>
<div class="row">
  <div class="col-md-8">
    <h3 class="text-center">Your To Do's</h3>
 
    <ul class = "list-group" >
      <%= render @items %>
      
    </ul>
    
    <%= render "items/form" %>

  </div>
</div>

