// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";


.active {
  color: green;
}

.pending {
  color: yellow;
}

.urgent {
  color: red;
}

.todo-item-odd:nth-child(odd) {
  background-color: #B8D4DC;
}

.todo-item-even:nth-child(even) {
  background-color: #CCEBF5;
}
